.main2{
  width:100%;
  position:fixed;
  background:transparent;
  z-index:1000000;
  .header{
    width:1200px;
    margin:0 auto;
  }
  .logo{
    padding-top:0.75rem;
  }
  .ivu-menu-light{
    background:transparent;
    color:#fff;
  }
  .ivu-menu-item{
    font-size: 1rem;
  }
  .ivu-menu-item a{
    color:#fff !important;
  }
  .ivu-menu-item:hover,.ivu-menu-item a:hover{
    color:#FD9827 !important;
  }
  .ivu-menu-item-active{
    border-bottom: 0 !important;
  }
  .ivu-menu-horizontal.ivu-menu-light:after{
    background:transparent !important;
  }
  .ivu-btn-ghost{
    color:#fff;
  }
  .ivu-btn-ghost:hover{
    color:#FD9827;
  }
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item{
    color:#fff;
  }
  .ivu-menu-light,.ivu-menu-horizontal,.ivu-menu-item{
    border-bottom: 0 !important;
  }
  .pull-left{
    float: left;
  }
  .pull-right{
    padding-top:13px;
    float: right;
    button{
      font-size:1rem;
      width:88px;
      height:34px;
      line-height:1rem;
    }
  }
  .clear{
    clear:both;
  }

}
