.main{
  width:100%;
  position:fixed;
  background:#fff;
  border-bottom:1px solid #eaeaea;
  z-index:10000;
  .header{
    width:75rem;
    margin:0 auto;
  }
  .logo{
    padding-top:0.75rem;
  }
  .ivu-menu-item{
    font-size: 1rem;
  }
  .ivu-menu-item a{
    color:#333 !important;
  }
  .nuxt-link-active{
    color:#FD9827 !important
  }
  .ivu-menu-item a:hover{
    color:#FD9827 !important;
  }
  .ivu-menu-item-selected{
    border-top:2px solid #FD9827;
    border-bottom: 0 !important;
    border-left:1px solid #eaeaea;
    color:#FD9827 !important;
    border-right:1px solid #eaeaea;
  }
  .ivu-menu-item-selected a{
    color:#FD9827 !important;
  }
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item{
  border-bottom: 0 !important;
}
  .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover{

    color:#FD9827 !important
  }
  .pull-left{
    float: left;
  }
  .pull-right{
    padding-top:13px;
    float: right;
    button{
      font-size:1rem;
      width:88px;
      height:34px;
      line-height:1rem;
    }
  }
  .clear{
    clear:both;
  }
  .ivu-menu-horizontal.ivu-menu-light:after{
    background: #fff !important;
  }
  .btn-login{
    border:1px solid #FD9827 !important;
    color:#FD9827 !important;
  }

}
