.clear-up{
  height:3rem;
}
.phone-header{
  width:100%;
  margin:0 auto;
  height:3rem;
  position:fixed;
  background:#fff;
  z-index:10000;
  .pull-left{
    float: left;
    width:1.5rem;
    height:2rem;
    margin-top:0.5rem;
    margin-left:1.5rem;
  }
  .pull-right{
    float:right;
    width:1.5rem;
    height:2rem;
    color:#fd9827;
    margin-top:0.8rem;
    margin-right:1rem;
  }

}
.dropdown{
  width:100%;
  min-width:375px;
  position:absolute;
  top:3rem;
  z-index:1000000;
  left:0;
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
  background:#fff;
  .nav{
    margin:0 auto;
    list-style none;
    a{
      color:#333;
      font-size:1rem;
    }
    li{
      font-size:1rem;
      display block;
      border-bottom:1px solid #ddd;
      width:360px;
      padding:10px 0rem;
      margin:0 auto;
    }
  }
  .btn-content{
    width:100%;
    text-align:center;
    margin-bottom:20px;
  }
  .ivu-btn{
    width:40%;
    color:#000;
    margin:2rem 1px;
  }
  .ivu-btn-default{
    border:1px solid #fd9827;
    background #fff;
    margin-right:1rem;
  }
}

